* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;

}

body {
    width: 100vw;
    height: 100dvh;
}

/* ------------------------------ */

/* Header */
.header {
    width: 100%;
    height: 50px;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    background-color: white;
    /* Added padding for spacing */
    /* Ensures padding doesn't affect width */
    padding: 0 1rem;

    button {
        outline: none;
        border: none;
        background-color: transparent;
    }

    button:hover {
        cursor: pointer;

    }
}

main {
    position: relative;
    width: 100%;
    height: calc(100dvh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.carousel {
    /* justify-content: space-between; */
    overflow-x: auto;
    width: 100%;
    padding-top: 1rem;
    scrollbar-width: none;

    .swiper-wrapper {
        display: flex;
        width: fit-content;
        justify-content: space-between;

        .gridimages {
            height: auto;
            width: max(20vw, 200px);
        }
    }
}

/* Input */
input {
    background-color: black;
    border: 1px solid azure;
    border-radius: 0px;
    color: azure;
    padding: 5px;
    outline: none;
}

input:hover {
    border: 1px solid gray;
}

/* Footer */
footer {
    width: 100%;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;

    .llc {

    }
}

/* Image inside the footer */
.dripimg {
    width: 50%;
    height: auto;
}


.landingsection1 {
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: black;
}

.slide_over {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 100;
    display: none;
    justify-content: flex-end;

    &.open_slide_over {
        display: flex;
    }

    .overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        position: absolute;
    }

    .content {
        z-index: 1;
        position: relative;
        width: 500px;
        max-width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        animation: reveal_in_right 500ms linear forwards;


        .header {
            width: 100%;
            padding: 1rem;
            border-bottom: thin solid #000;
            height: fit-content;
        }

        .body {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 1rem;
        }

    }
}

.x {
    cursor: pointer;
}

.slide_over.closing_slide_over .content {
    animation: hide_in_right 500ms linear forwards;
}

/* General login form styles */
#login_form {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: min(70vw, 500px);
    height: max(30dvh, 200px);
    z-index: 100;
    background-color: #000;
    justify-content: flex-start;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

/* Visible state for the login form */
#login_form.open_login_form {
    opacity: 1;
    visibility: visible;
}

/* Closing state for the login form */
#login_form.closing_login_form {
    opacity: 0;
    visibility: hidden;
}

/* Header styling */
#login_form .header {
    width: 100%;
    height: 20%;
    background-color: azure;
}

/* Body of the login form */
#login_form .bodylogin {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

/* Input styling */
#login_form .bodylogin input {
    background-color: white;
    border: 1px solid;
    border-radius: 0;
    color: black;
    font-weight: 600;
    padding: 5px;
    outline: none;
}

/* Input hover effect */
#login_form .bodylogin input:hover {
    border: 1px solid gray;
}

/* Button styling */
#login_form .bodylogin button {
    border: 1px solid black;
    padding: 4px 12px;
}

/* Button hover effect */
#login_form .bodylogin button:hover {
    border: 1px solid gray;
}


@keyframes reveal_in_right {
    from {
        margin-right: -100vw;
    }

    to {
        margin-right: 0;
    }
}

@keyframes hide_in_right {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -100vw;
    }
}